<header class="header" data-header>
    <div class="header__container u-container u-container--large" data-header-container>

        <a class="header__logo no-link" href="/">
            <img class="header__logo-image" src="/img/minter-logo-circle.svg" alt="Minter" width="36" height="36">
            <div class="header__logo-text">{{ 'Design Kit' }}</div>
        </a>

        <div class="header__controls">
            {% include 'layouts/_header-language.njk' %}
        </div>
    </div>
</header>
