{% extends "layouts/default.njk" %}
{% set page_title = "Design Kit"|i18n('index-seo-title')|safe %}
{% set page_description = ""|i18n('index-seo-description')|safe %}

{% block content %}

    {# article enables safari reader mode #}
    <article class="article">
        <div class="u-container u-container--large">
            <h2 class="u-caption">Логотип</h2>
            <p class="u-paragraph">Логотип состоит из&nbsp;символа и&nbsp;названия блокчейна. Название не&nbsp;должно использоваться без символа, при этом символ может использоваться отдельно от&nbsp;названия. Если&nbsp;логотип достаточно контрастен по&nbsp;отношению к&nbsp;фону, то&nbsp;используется его цветная версия, если&nbsp;нет&nbsp;— следует использовать монохромную версию&nbsp;логотипа.</p>
            <p>
                <a class="link--default" href="https://www.dropbox.com/home/Minter/Minter%20Media%20Kit/Minter%20Design/Logotype" target="_blank" rel="noreferrer">Скачать все версии логотипа</a>
            </p>

            <div class="kit__logo-list">
                <div class="kit__logo-item">
                    <div class="kit__logo-layer">
                        <img src="/img/minter-logo-white.svg" alt="" class="kit__logo-image">
                    </div>
                    <p class="kit__logo-caption kit__logo-caption--first u-paragraph">Версия логотипа <br> для темного фона</p>
                </div>
                <div class="kit__logo-item">
                    <div class="kit__logo-layer kit__logo-layer--white">
                        <img src="/img/minter-logo-black.svg" alt="" class="kit__logo-image">
                    </div>
                    <p class="kit__logo-caption u-paragraph">Версия логотипа <br> для светлого фона</p>
                </div>
                <div class="kit__logo-item">
                    <div class="kit__logo-layer">
                        <img src="/img/minter-logo-mono.svg" alt="" class="kit__logo-image">
                    </div>
                    <p class="kit__logo-caption u-paragraph">Монохромная версия <br> логотипа</p>
                </div>
            </div>


            <hr class="hr--divider">


            <div class="u-grid u-grid--vertical-margin">
                <div class="u-cell u-cell--medium--5-12">
                    <h2 class="u-caption">Фирменные цвета</h2>
                    <p class="u-paragraph">Основные фирменные цвета блокчейна Minter&nbsp;— оранжево-медный, темно-серый и&nbsp;белый.</p>
                    <p>
                        <a class="link--default" href="https://www.dropbox.com/home/Minter/Minter%20Media%20Kit/Minter%20Design?preview=Minter.aco" target="_blank" rel="noreferrer">Скачать  палитру для&nbsp;Photoshop</a>
                    </p>
                    <p>
                        <a class="link--default" href="https://www.dropbox.com/home/Minter/Minter%20Media%20Kit/Minter%20Design?preview=minter_style.sketch" target="_blank" rel="noreferrer">Скачать палитру для&nbsp;Sketch</a>
                    </p>
                </div>
                <div class="u-cell u-cell--medium--7-12">
                    <div class="kit__row">
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#D15C22;"></div>
                            <div class="kit__color-content">
                                <strong>Link</strong> <br>
                                #D15C22
                            </div>
                        </div>
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#D66C38;"></div>
                            <div class="kit__color-content">
                                <strong>Hover</strong> <br>
                                #D66C38
                            </div>
                        </div>
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#BC531F;"></div>
                            <div class="kit__color-content">
                                <strong>Pressed</strong> <br>
                                #BC531F
                            </div>
                        </div>
                    </div>
                    <div class="kit__row">
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#FFFFFF;"></div>
                            <div class="kit__color-content">
                                <strong>Text on Dark (Default)</strong> <br>
                                #FFFFFF
                            </div>
                        </div>
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#C2C2C2;"></div>
                            <div class="kit__color-content">
                                <strong>Text on Dark  (Dim)</strong> <br>
                                #C2C2C2
                            </div>
                        </div>
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#333333;"></div>
                            <div class="kit__color-content">
                                <strong>Text on Light (Default)</strong> <br>
                                #333333
                            </div>
                        </div>
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#858585;"></div>
                            <div class="kit__color-content">
                                <strong>Text on Light (Dim)</strong> <br>
                                #858585
                            </div>
                        </div>
                    </div>
                    <div class="kit__row">
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#3C3C3C;"></div>
                            <div class="kit__color-content">
                                <strong>Background #1</strong> <br>
                                #3C3C3C
                            </div>
                        </div>
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#F6F6F6;"></div>
                            <div class="kit__color-content">
                                <strong>Background #2</strong> <br>
                                #F6F6F6
                            </div>
                        </div>
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#552019;"></div>
                            <div class="kit__color-content">
                                <strong>Background #3</strong> <br>
                                #552019
                            </div>
                        </div>
                        <div class="kit__color-wrap">
                            <div class="kit__color" style="background:#21224C;"></div>
                            <div class="kit__color-content">
                                <strong>Background #4</strong> <br>
                                #21224C
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr class="hr--divider">


            <div class="u-grid u-grid--vertical-margin">
                <div class="u-cell u-cell--medium--5-12">
                    <h2 class="u-caption">Типографика</h2>
                    <p class="u-paragraph">В оформлении всех страниц Minter&nbsp;Console и&nbsp;Minter&nbsp;Foundation используется гарнитура <strong>Ubuntu</strong> вo&nbsp;всех её начертаниях, основные из&nbsp;которых приведены&nbsp;ниже.</p>
                    <p>
                        <a class="link--default" href="https://fonts.google.com/specimen/Ubuntu" target="_blank" rel="noreferrer">Скачать Ubuntu с&nbsp;Google&nbsp;Fonts</a>
                    </p>
                </div>
                <div class="u-cell u-cell--medium--7-12">
                    <div class="kit__row kit__typo">
                        Ubuntu Regular <br>
                        Съешь ещё этих мягких французских булок
                    </div>
                    <div class="kit__row kit__typo kit__typo--ubuntu-medium">
                        Ubuntu Medium <br>
                        Съешь ещё этих мягких французских булок
                    </div>
                    <div class="kit__row kit__typo kit__typo--ubuntu-medium">
                        Ubuntu Bold <br>
                        Съешь ещё этих мягких французских булок
                    </div>
                </div>
                <div class="u-cell"></div> {# divider #}
                <div class="u-cell u-cell--medium--5-12">
                    <p class="u-paragraph">В оформлении промо страниц и&nbsp;рекламных материалов используются гарнитуры <strong>Rubik</strong> для заголовков и&nbsp;<strong>Roboto</strong> для основного&nbsp;текста.</p>
                    <p>
                        <a class="link--default" href="https://fonts.google.com/specimen/Rubik" target="_blank" rel="noreferrer">Скачать Rubik с&nbsp;Google&nbsp;Fonts</a>
                    </p>
                    <p>
                        <a class="link--default" href="https://fonts.google.com/specimen/Roboto" target="_blank" rel="noreferrer">Скачать Roboto с&nbsp;Google&nbsp;Fonts</a>
                    </p>
                </div>
                <div class="u-cell u-cell--medium--7-12">
                    <div class="kit__row kit__typo kit__typo--rubik-medium">
                        Rubik Medium <br>
                        Съешь ещё этих мягких французских булок
                    </div>
                    <div class="kit__row kit__typo kit__typo--rubik-black">
                        Rubik Black Italic <br>
                        Съешь ещё этих мягких французских булок
                    </div>
                    <div class="kit__row kit__typo kit__typo--roboto">
                        Roboto Regular <br>
                        Съешь ещё этих мягких французских булок
                    </div>
                    <div class="kit__row kit__typo kit__typo--roboto-medium">
                        Roboto Medium <br>
                        Съешь ещё этих мягких французских булок
                    </div>
                </div>
            </div>


            <hr class="hr--divider">


            <div class="u-grid u-grid--vertical-margin">
                <div class="u-cell u-cell--medium--5-12">
                    <h2 class="u-caption">Маскот</h2>
                    <p class="u-paragraph">В оформлении рекламных материалов используется изображение персонажа Minter&nbsp;— супергероя, олицетворяющего скорость и&nbsp;мощь нашего&nbsp;блокчейна.</p>
                </div>
                <div class="u-cell u-cell--medium--7-12 u-text-center">
                    <img src="/img/hero.svg" alt="" role="presentation">
                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}


{% endblock %}
